<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% assign title = page.title | default: site.title | escape %}

  <title>{{ title }}</title>

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ feed_path | absolute_url }}">
  
  {% include head_custom.html %}

  <meta name="google-site-verification" content="65FwXSi7Iy_ZlSE69YabxM9EUPY8OAY9SHR9uKF3baM" />
  {% include fonts.html %}
  {% seo title=false %}
  {% I18n_Headers %}
</head>
