---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Import partials from the `whiteglass` theme.
@import "whiteglass";


// Use default fonts
$base-font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
$monospace-font-family: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;


// position of the language switcher
.lang-switcher {
  float: left;
  margin-right: 60px;
}

//// User Tricks:
// Scrollbar is always present to not upset the layout
html {
  overflow-y: scroll;
}

// To keep the footer at the bottom of the page
body {
  height:100vh; margin:0;
  display:flex; 
  flex-direction:column; 
}
footer{
  margin-top:auto; 
}
